[user]
    name = Chris Sharp
    email = git@ctsharp.org

[diff]
    tool = diffmerge

[difftool "diffmerge"]
    cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"

[merge]
    tool = diffmerge

[mergetool "diffmerge"]
    trustExitCode = true
    cmd = /usr/local/bin/diffmerge --merge --result=\"$MERGED\"\n        \"$LOCAL\" \"$BASE\" \"$REMOTE\"

[core]
    editor = emacs -nw
[http]
    cookiefile = /Users/csharp/.gitcookies

[alias]
    unpushed = log @{u}..HEAD --graph --decorate --left-right --pretty=format:'%Cred%h%Creset %d %s %Cgreen(%cr)%Creset %Cblue[%an]%Creset' --abbrev-commit --date=relative
